
{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
    
    <div id="container">
        <h3>Job Counts</h3>

    <div id= "first" >

        {{ Industry_div|safe }}
        {{ Industry_script|safe }}
        </div>
        <div id="second">
        {{ python_div|safe }}
        {{ python_script|safe }}
        </div>
    </div>
    <div id="container">
         <div id="first">
        {{is_headquarters_div|safe }}
        {{ is_headquarters_script|safe }}
        </div>
         <div id="second">
        {{ seniority_div|safe }}
        {{ seniority_script|safe }}
        </div>
        </div>
         <div id="second">
        {{ Job_Title_div|safe }}
        {{ Job_Title_script|safe }}
        </div>
        <div id="second">
        {{ R_div|safe }}
        {{ R_script|safe }}
        </div>
    </div>
    </div>

{% endblock %}


["Industry", "python", "R","is_headquarters", "seniority", "Job Title"]