
{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
    
    <div id="container">
        <h3>Job Counts</h3>

    <div id= "first" >

        {{ Industry_div|safe }}
        {{ Industry_script|safe }}
        </div>
        <div id="second">
        {{ python_div|safe }}
        {{ python_script|safe }}
        </div>
    </div>
    <div id="container">
         <div id="first">
        {{is_headquarters_div|safe }}
        {{ is_headquarters_script|safe }}
        </div>
         <div id="second">
        {{ seniority_div|safe }}
        {{ seniority_script|safe }}
        </div>
        </div>
         <div id="second">
        {{ Job_Title_div|safe }}
        {{ Job_Title_script|safe }}
        </div>
        <div id="second">
        {{ R_div|safe }}
        {{ R_script|safe }}
        </div>
    </div>
    </div>
    
 <table class="table table-striped">
  <tr>
  {% for item in total_analysis %}
    <th>{{item[0]}}</th>
    {%endfor%}
  </tr>
  
  {%for i in range(total_analysis[0][1]|length) %}
  <tr>
     {% for j in range(total_analysis|length)%}
    <td>{% autoescape false %}
    
           <b>     {{total_analysis[j][1][i+1]}} </b>
        {% endautoescape %}</td>
   {%endfor%}

  </tr>
  {%endfor%}
</table>

{% endblock %}


["Industry", "python", "R","is_headquarters", "seniority", "Job Title"]