
.center {
  text-align: center;
  border: 3px solid green;
}


#container {
    width: 300px;
    display: inline;
    margin: 0 auto;
    text-align: center;

}
#first {
   display: inline-block;
    float:left;
    margin-right: 10px;
    margin: 0 auto;

}
#second {
    display: inline-block;
    float:left;
    margin-left: 50px;
    margin-right: 10px;

}
#clear {
    clear: both;
}